################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/server/Demo1/.vs/Demo1/v15
/server/Demo1/obj/Debug
/server/Demo1/packages
/server/Demo1.Tests/obj/Debug
/server/Demo1.Tests/bin/Debug
/tools
/server/.vs/Demo1/v15
/server/packages
